@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4267B2;
    /* background-color: #2929af; */
    /* color: white; */
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.container{
    text-align: center;
    padding: 23px 34px; 
    /* margin: 34px auto; */
    
}
.email{
    padding: 24px;
    color: white;
    font-size: 20px;
}
.password{
    color: white;
    font-size: 20px;

}

input{
    outline: none;

    border: none;
    background-color: #d7d2d2;
    padding: 10px 45px;


}

.btn{
    padding: 23px 34px;
}

.btn button{
    padding: 10px 43px;
    color: white;
    background-color: #2929af;
    outline: none;
    border: none;
    font-weight: bold;
}
p{
    color: white;
    font-family: sans-serif
}
a{
    color: white;
}

@media screen and (max-width: 415px) {
    *{
        width: 100%;
    }
    
}